body {
    font-family: 'Google Font Name', sans-serif;
    background: linear-gradient(to right, rgb(221, 252, 186), white, rgb(250, 217, 145));
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
